[submodule "cellscript"]
	path = cellscript
	url = https://github.com/a19q3/CellScript_Private.git
[submodule "research"]
	path = research
	url = https://github.com/Spora-Foundation/Research.git
	branch = main
